.product__card {
    text-align: center;
    margin: 7px;
    &:hover {
        .img {
            width: 330px;
            height: 330px;
        }
    }
}
.img {
    width: 320px;
    height: 320px;
    margin: 2rem 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.p {
    font-size: 20px;
    margin-top: 1rem;
    margin-block-end: 1rem;
    max-width: 35ch;
}

.h1 {
    font-size: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
    
}
